/* ALTO CONTRASTO */

body {
	color:#FFFF00;
	background-color: #000066;
}

a:link, a:visited {
	color: #FFFF00;
}

a:hover, a:active, a:focus {
	color: #FFFFFF;
}

h2.title {
	color: #FFFFFF;
}

.box_info span.title {
	color: #FFFFFF;
}
