/* =LAYOUT */
html,
button,
input,
select,
textarea {
	font-family: Verdana, sans-serif;
}

body {
	color: #333;
	background-color: #f2efe7;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.875em;
    font-weight: 300;
    line-height: 1.8;
	padding: 0;
	margin: 0;
}

#ext-container {
	padding: 0px;
	margin-top: 0em;
	max-width: 1160px !important;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f2efe7;
}

.container_cms h2 {
    font-size: 1.786em;
    color: #3d3b39!important;
    font-weight: bold;
}

.container_cms h3{
	color: #3d3b39!important;
}
/* FOOTER */

#footer-main {
	float: none;
	clear: both;
	font-size: 0.8em;
	font-weight: bold;
	color: #fff;
	margin: 0px;
	margin-top: 0em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.5em;
	text-align: center;
	overflow: hidden;
	background-color: #2f3237;
}

#footer-main a{
	color:#fff;
}

/* =2-COLUMN-LAYOUT-LEFT-MENU */
.two-columns-left-menu .content {
	left: 101.5%;
}

.two-columns-left-menu .menu {
	left: 1.5%;
}

/* =2-COLUMN-LAYOUT-RIGHT-MENU */

.two-columns-right-menu .menu {
	left: 22.5%;
}

/* =3-COLUMNS-LAYOUT */

.three-columns .content {
	left: 101.4%;
}

.three-columns .left-menu {
	left: 22.5%;
}

.three-columns .right-menu {
	left: 82.5%;
}

/* =ELEMENTS */

h1, h2, h3 {
	color: #000;
}

h1, h2 {

/* 	text-transform: uppercase; */
}

h2 {
	padding-bottom: 7px;
}

/* =LINKS */

a {
	color: #00698c;
	font-weight:bold;
}


/* =INPUTS-AND-BUTTONS */

.button {
    background-color: #027997; /*#0293B8;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #027997!important;
    font: 13px "Arial";
    height: 32px;
    margin-right: 0;
	color:#fff;
	text-transform:uppercase;
}

.button:hover {
    background-color: #06465D;
    border: 1px solid #06465D!important;   
    font: 13px;
    margin-right: 0;
	color:#fff;
	text-transform:uppercase;
}

/* =TABLES */

table {
/*	border: 0;
	border-collapse: separate;
	border-spacing: 2px;*/
	color: #404040;
	background-color:#e7e0d0
}

th {
	border: 0;
	background-color: #e7e0d0;
	color: #333;
}

td {
	border: 0;
	background-color: #f2efe7;
}

/* =HEADER-MENU */	

#header{
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: auto!important;
	height: 79px;
	min-height: 79px;
	min-width: 1000px!important;
 	width: 62.5em; 
	position: relative;
}

#menu {
	position: relative;
	color: #FFFFFF;
	background-color: #06465D;
	font-size: 1.1em;
	text-align: left;
	padding: 0em;
	overflow: hidden;
	text-transform:uppercase;
}

#menu, 
#menu a {
	color: #fff;
}

#style-sub-menu {
	margin-left: 210px;
	z-index: 10;
	position: relative;

}

#style-sub-menu li {
	display: inline;
	padding-top: 9px;
	padding-bottom: 0.9em;
	text-align: -webkit-match-parent;
}

#style-sub-menu li:hover {
	display: inline;
	padding-top: 9px;
	padding-bottom: 0.9em;
	text-align: -webkit-match-parent;

}


#style-sub-menu li a {
	color: #ffffff;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 9px;
	padding-bottom: 0.9em;
	font-size: 0.929em;
}

#style-sub-menu li a:hover {

	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 9px;
	padding-bottom: 0.9em;
	border-top: 3px solid #e3914c;
	font-size: 0.929empx;
}

#date-time {
	color: #ffffff;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
}

#search-sub-menu{
	float: right;
	margin: 0px;
	padding-top: 0.5em;
	padding-right: 0.5em;
	z-index: 15;
	position: relative;
}

#search-sub-menu div {
	color: #ffffff!important;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
}

#style-sub-menu h2, #search-sub-menu h2, #date-sub-menu h2 {
	color: #ffffff;
}


/* =BREADCRUMBS */
#breadcrumbs-wrapper{
	padding: .3em 0;
}

#breadcrumbs {
	font-size: 0.9em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.5em;
	text-align: left;
	background-color: #f2efe7;
}

#breadcrumbs .youarehere{
	font-weight: bold;
}

#breadcrumbs .active{
	color: #00698c;
}


/* =LATERAL-MENU */

.menu-box h2 {
	font-size:1.214em;
	background-color: #e7e0d0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	margin-bottom: 0em;
	margin-top: 0.9em;
	text-align: left;
    border-top: 5px solid #06465d;
    border-bottom: 1px solid #b9b1a7;
	font-style: italic;
    /*text-transform: capitalize !important;*/
    color: #3d3b39!important;
}

.navigation-box{
	display: block;
}

.navigation-box ul {
	background-color: #e7e0d0;
	list-style-type: none;
	margin: 0px;
	margin-left: 0px;
}

.navigation-box li {
	
	text-decoration: none;
	display: block;
    border-bottom-color: #b9b1a7;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
	text-align: left;
}

.navigation-box li  a{
	font-size: 0.929em;
	line-height: 1.8em;
	color:#00698c;
	text-decoration:none;
}

.navigation-box li  a:hover{
	font-size: 0.929em;
    line-height: 1.8em;
	text-decoration:underline;
}

/*.navigation-box li:hover {
	background-color:#06465D;
	color:#fff;
	border-left:3px solid #ff8800;
}*/

/*.menu-box a:hover {
	color: #fff;;
	text-decoration: none;
}*/

/* =OTHERS= */
.important {
	color: #00698c;
}

.info-table a{
	color:#000;
	font-weight:normal;
}

#style-sub-menu li a.font-very-big{
	font-size:1.2em;
}

#style-sub-menu li a.font-big{
	font-size:1em;
}

#search-form .text{
	border: 2px solid #e0d9c6;
    border-radius: 4px;
    height: 28px;
    padding: 6px 12px;
}

h2,h3{
	color: #3d3b39;
}

legend, .label label{
	color: #3d3b39!important;
}



.menu-ancorato{
	position :fixed!important;
	z-index :100!important;
	max-width :1160px!important;
	box-shadow :0 12px 14px -10px black!important;
}

.icona-menu-ancorato{
	padding-left: 55px!important;
    background-image: url(../../img/logo-aec.png)!important;
    background-repeat: no-repeat!important;				
    background-size: contain!important;
}


.base-menu-ancorato{
	position :relative!important;
	z-index :0!important;	
	box-shadow :none!important;
	top: 0!important;
}
.base-icona-menu-ancorato{
	padding-left: 3px!important;
    background-image: none!important;
    background-repeat: none!important;				
    background-size: none!important;
}





