#search-sub-menu {
	border-left: 1px solid #E5E5E5;
	min-height: 48px;
	padding: 0px !important;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #555 !important;
	font-size: 0.815em;
	text-transform: capitalize;
	font-weight: 700;
	line-height: 48px;
	min-height: 48px;
	vertical-align: middle;
	margin: 0 !important;
}

#search-form label {
	color: transparent !important;
}

#searchform {
	color: #555 !important;
}

#search-form	#search {
	margin-right: -5px;
	padding: 0;
	border: none;
	min-height: 54px;
	width: 55%;
}

#search-form	#search:hover {
	border: 1px solid #E5E5E5;
}

#search-form	#search:focus {
	border: 1px solid #bbb;
}

#search-form	.button {
	background-image: url("../../../img/reg-marche/search.png");
	background-position: center;
	background-repeat: no-repeat;
	min-width: 54px;
	min-height: 54px;
	height: 100%;
	background-color: #ccc;
	color: transparent !important;
	border: none;
	border-radius: 0;
}

#search-form	.button:hover {
	background-color: #bbb;
}

@media ( max-width : 800px) {
	#search-form	.button {
		padding: 0;
		margin: 0;
	}
	#search-form	#search {
		border: 1px solid #E5E5E5;
	}
}