/* =ERRORS-AND-MESSAGES */

.errors {
	margin: .5em;
	padding: .2em;
	/*font-size: .95em;*/
}

/* =BALLOON */

/* =TABLES */

/* =DETAIL-FORM */

.portgare-view,
.portgare-list {
	margin: .5em 0;
}

.portgare-list h2, 
.portgare-view h2 {
	margin: 0 0 .5em 0;
}

.titolo-sezione {
	/*font-size: .95em;*/
	font-weight: bold;
}

fieldset.sezione {
	margin: .5em 0;
}

fieldset.sezione legend {
	font-weight: bold;
	padding: .2em .5em;
}

fieldset.sezione {
	margin: .5em 0;
}

fieldset.sezione legend {
	/*font-size: .85em;*/
	font-weight: bold;
	padding: .2em .5em;
}

div.row{
	clear: left;
	display: block;
	margin:0 .3em;
	/*font-size: .85em;*/
}

div.first-row{
	margin-top: .2em;
}

div.last-row{
	margin-bottom: .2em;
}

div.row div.label{
	float: left;
	text-align: left;
	width: 19em;
	margin: 0;
	padding: .2em;
}

div.element{
	margin-left: 20em;
	padding-left: .5em;
	padding: .2em;	
}

div.element label{
	display: inline;
	float: none;
	width: auto;
}

div.element div.note{
	/*font-size: .8em;*/
	vertical-align: top;
	margin-top: .5em;
	padding: .3em;
}

div.element p{
	margin-top: 0;
	margin-bottom: .25em;
	padding: 0;
}

div.sottosezione {
	margin-left: 50px;
}

/* =LIST-FORM */

.list-summary,
.list-item-row {
	margin: 1em 0;
}

.list-item {
	margin: 1em 0;
	padding: .2em;
}

/* =SIGN-AND-SEND-FORM */

/* =MENU-FORM */

/* =CHANGE-PASSWORD-FORM */

/* =WIZARD-STEPS */

/* =PAGINATION */

/* STILI PER LE PAGINE DI RICERCA E DI LISTA */

/* =SEARCH-FORM */

#search-form {
	padding: .85em;
}

#deletesearch {
	vertical-align: middle;
}

.found {
	color: #C20000;
}

.highlight {
    background-color: #FFDB05;
	border: 1px solid #C20000;
}

/* =LOGIN-FORM */

.login-box div {
	padding: .5em 0;
}