#search-form{
	font-size:0.989em;
}

#search-form .text {
	color: #004F7E;
	border-radius: 4px 4px 4px 4px;
}

#search-form .button {
	color: #fff;
    border-radius: 4px 4px 4px 4px;
	height: 22px;
	text-align: center;
}

