
html {
	background-image: url("../../img/reg-marche-usr/background.png");
	background-repeat: repeat;
	background-color: #d5d5d5;
}

body {
	font-family:  Arial, sans-serif !important;
	font-size: 16px;
	color: #444;
}

/* typography */
h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.25rem;
	color: #595959;
	font-weight: 700;
	padding: 0;
	margin-top: 0 !important;
}

h3 {
	font-size: 1rem;
}
/*
h4 {
    font-size: 1.75rem
}

h5 {
    font-size: 1.5rem
}

h6 {
    font-size: 1.25rem;
}
*/
h1,h2,h3,h4,h5,h6 {
	margin: 0.5em 0;
}

p {
	line-height: 150%;
}

ul,ol {
	margin: 0;
	padding: 0 0 0 1em;
}

dt {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

dd {
	margin: 0;
	padding: 0;
}

pre {
	white-space: pre-wrap;
}

/* inputs */
select,textarea,input[type=text],input[type=password],textarea {
	border: 1px solid #999999;
	padding: 0.4em 1.2em;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	font-size: inherit;
	margin: 0;
	line-height: normal !important;
}

.button {
	background-color: #F8F8F8;
	color: #595959;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	text-transform: uppercase;
	line-height: normal;
	padding: 0.4em 1.2em;
}

.button:active {
	background-color: #ccc !important;
	color: #333 !important;
}

.button:hover {
	background-color: #ddd;
}

/* =LAYOUT */
#ext-container {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px !important;
	width: 100%;
}
.container_cms h2, .portgare-list h2, .portgare-view h2 {
	text-transform: uppercase;
	font-weight: bold;
}

.container_cms, .portgare-list, .portgare-view {
	font-size: 0.875em;
}
/* FOOTER */
#footer-main {
	font-size: 0.88em;
	text-align: center;
	background-color: #333333;
	color: #fff;
	padding: 5px;
}

#footer-main a {
	font-weight: 400;
	color: #65dcdf;
}

/* =LINKS */
.content a {
	color: #428bca;
}

.content a:hover {
	color: #5F8BD3;
}
/*
.content a:visited {
	color: #332FD9;
}
*/
/* HEADER */
#ext-container header {
	background-color: #1A3361;
}

#htmlprebanner {
	background-color: #040911;
}

#ext-container header * {
	color: #fff;
}

/* =HEADER-MENU */
#header {
	margin: 0px;
	padding: 48px 0 15px 0;
	border: 0px;
	height: auto !important;
	min-height: 79px;
	min-width: 1000px !important;
	width: 62.5em;
	position: relative;
	background-color: #fff;
}

#header-main {
  display: flex;
  justify-content: center;
}

#logo-main {
  display: flex;
  max-width: 100%;
  height: auto;
}

#logo-main img {
  cursor: pointer;
  max-height: 100px;
}


#menu {
	min-height: 48px;
	position: relative;
	text-align: left;
	padding: 0em;
	overflow: hidden;
	text-transform: uppercase;
	line-height: normal !important;
	background-color: #fff;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}

#style-sub-menu {
	padding: 0em !important;
	margin: 0em;
	z-index: 10;
	position: relative;
}

.responsive-sub-menu-divider {
	display: none !important;
	width: 0px !important;
}

#style-sub-menu input {
	padding: 0em;
	margin: 0em;
	z-index: 10;
	position: relative;
}

#style-sub-menu ul {
	padding: 0em;
	margin: 0em;
}

#style-sub-menu li {
	padding: 0em;
	margin: 0em;
	display: inline;
	line-height: 2em;
}

#style-sub-menu li a {
	font-size: 0.815em;
	text-transform: capitalize;
	font-weight: 700;
	color: #555;
	line-height: 48px;
	min-height: 48px;
	border-right: 1px solid #E5E5E5;
	padding: 18px 20px;
	margin: 0;
}

#style-sub-menu li a:hover {
	outline: none !important;
	text-decoration: none !important;
}

#style-sub-menu li:first-of-type a {
	border-left: 1px solid #E5E5E5;
}

@media ( max-width : 800px) {
	#style-sub-menu li a,#date-sub-menu,#search-sub-menu {
		border: none !important;
		padding: 0;
		margin: 0;
	}
	.hamburger-menu {
		background-color: #CCC;
	}
	.hamburger-menu:hover {
		background-color: #bbb;
	}
}

#style-sub-menu li a.font-very-big {
	font-size: 1.2em;
}

#style-sub-menu li a.font-big {
	font-size: 1em;
}

#date-time {
	text-decoration: none;
}

#search-sub-menu {
	float: right;
	z-index: 15;
	position: relative;
}

#search-sub-menu input[name=search] {
	color: #555;
}

#search-sub-menu input[type=submit] {
	color: #555;
}

#menu input,#menu div#date-time,#menu ul {
	line-height: 30px !important;
	padding: 0 10px !important;
}

#search-sub-menu div {
	text-decoration: none;
}

/* =BREADCRUMBS */
#breadcrumbs-wrapper {
	padding: 15px 20px;
	background: #fff;
}

#breadcrumbs-wrapper * {
	color: #555 !important;
}

#breadcrumbs {
	font-size: 0.75em;
	color: #555;
	text-align: left;
}

#breadcrumbs  a,#breadcrumbs .active {
	color: #555;
	font-weight: normal;
}

#breadcrumbs  a:hover {
	outline: none !important;
	text-decoration: none !important;
}

#breadcrumbs span {
	margin: 0 5px;
}

#breadcrumbs .youarehere {
	display: none;
}

/* =LATERAL-MENU */
.menu-box h2 {
	background-color: #F5F5F5;
	text-transform: capitalize !important;
	border-top: 2px ridge #CDCDCD;
	border-left: 2px ridge #CDCDCD;
	border-bottom: 2px groove #CDCDCD;
	border-right: 2px groove #CDCDCD;
	line-height: 22px;
	padding: 8px 10px 8px 18px;
	margin: 1px;
	font-size: 0.815em;
}

.navigation-box {
	background-color: #fff;
	margin: 5px 0;
}

.navigation-box ul {
	margin: -2px 2px 0 2px;
	padding: 0;
	border: 1px solid #DDDDDD;
}

.navigation-box li {
	text-align: left;
}

.navigation-box li span {
	padding: 0;
}

.navigation-box li a {
	display: block;
	margin: 0;
	padding: 8px 10px 8px 20px;
	font-weight: 400;
	font-size: 0.75em;
	color: #555555;
	width: 100%;
}

.navigation-box li a:hover {
	border-top: 1px ridge #595959;
	border-left: 1px ridge #595959;
	border-bottom: 1px groove #595959;
	border-right: 1px groove #595959;
	outline: none;
	text-decoration: none;
}

.navigation-box .current,.navigation-box .current a {
	background-color: #595959;
	color: #fff;
	font-weight: 700;
}
/* =OTHERS= */
.content {
	padding: 0;
}