.login-box{
	background-color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.login-box:hover{
	background: #e8e8e8;
	text-decoration: none;
}