th,td {
	padding: 0.5em;
	border: none;
}

.info-table tbody tr {
	border-bottom: 1px solid #E7E7E7;
}

tr:nth-child(odd) {
	
}

hr {
	clear: both;
}

fieldset {
	background-color: #fff;
	color: #595959;
	border: 1px solid #E7E7E7;
	/*border: none;*/
	border-radius: 5px;
}

/* =ERRORS-AND-MESSAGES */
.error,.errors,.required-field {
	color: #FF0000;
}

.warnings {
	color: #d1ae00;
}

/* =BALLOON */
.balloon {
	background-color: #F8F8F8;
	color: #595959;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
}

/* =DETAIL-FORM */
.detail-section-title {
	font-weight: bold;
	text-align: center;
	padding: 5px;
	text-transform: uppercase;
}

.detail-row label {
	font-weight: bold;
}

.element .no-editable {
	background-color: #e6e6e6;
}

.portgare-list label,.portgare-view label {
	color: #909090;
	font-weight: bold;
}

.portgare-list input,.portgare-list select,.portgare-list textarea,.portgare-view input,.portgare-view select,.portgare-view textarea
	{
	background-color: #F0F0F0;
	border: 1px solid #A0A0A0;
	border-radius: 5px;
}

.portgare-list input:focus,.portgare-list select:focus,.portgare-list textarea:focus,.portgare-view input:focus,.portgare-view select:focus,.portgare-view textarea:focus
	{
	background-color: #FFF;
	border: 1px solid #80C5FF;
}

.portgare-view h2 {
	font-weight: bold;
}

.portgare-view a {
	color: #428bca !important;
}

.portgare-view a:hover {
	color: #5F8BD3 !important;
}
/*
.portgare-view a:visited {
	color: #332FD9 !important;
}
*/
div div.note {
	border: 1px solid #E7E7E7;
}

.fieldset-row {
	border-top: 1px solid #ddd;
}

/*
.fieldset-row:hover{
	background-color: #E7E7E7; /* DA VALUTARE*/
}
* /

div.sottosezione h4 {
	border-bottom: 1px solid #E7E7E7;
}

.special a { /* color: #333; */
	
}

.special .important {
	background-color: #595959;
	color: #fff;
	padding: 3px;
	border-radius: 4px;
}

/* =LIST-FORM */
.list-item {
	border: 1px solid #E7E7E7;
	transition: transform 0.3s ease;
}

.list-item-row { /*font-size: 0.9em;*/
	display: block;
	padding: 0em;
}

.list-item-row label {
	font-weight: bold;
}

.list-summary {
	text-align: center;
	padding: 20px;
	background-color: #E7E7E7;
}

/* =FILTER-FORM */
/* =CHANGE-PASSWORD-FORM */
#change_password_form label.error {
	color: #FF0000;
}

#change_password_form label.success_msg {
	color: #65b446;
}

/* =WIZARD-STEPS */
.steps { /* border-bottom: 5px solid #e3914c;
  font-weight:bold;
  text-transform:uppercase;
  padding-bottom:5px; */
	
}

.steps li { /* color: #4C4D52;
	border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
	background-color: #E6E1CE;
    padding: 10px 15px;
	border: 1px solid #e3914c;
	margin-left:2px; */
	
}

.current-step { /* background-color: #e3914c;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  color:#fff;
  border-bottom: 1px solid #e3914c;
  margin: -15px;
  padding: 10px 15px; */
	
}

/* =PAGINATION */
#pagination-navi .selected { /* background-color: #FFF;
  color: #043F56; */
	
}

/* =MENU-FORM */
.menu-gestione {
	background-color: #e6e6e6;
}

.menu-gestione ul {
	padding: 0;
}

.menu-gestione li:hover,.menu-gestione li:focus {
	background-color: #cccccc;
}

.menu-gestione li.disabled {
	background-color: #F2F2F2;
}

.menu-gestione a { /* color: #333; */
	
}

.menu-gestione li:hover a,.menu-gestione li:focus a { /* color: #b22825;
  text-decoration: none; */
	
}

.menu-gestione li.disabled a {
	color: #C4C4C4 !important;
}

.menu-gestione li.disabled:hover,.menu-gestione li.disabled:focus {
	/* background-color: #F2F2F2; */
	
}

.menu-gestione li.disabled:hover a,.menu-gestione li.disabled:focus a {
	/* color: #C4C4C4; */
}

.menu-gestione .info { /* color: #333; */
	
}

/* =PAGINATION */
#pagination-navi .nav-page-button { /* background: #FFF;
  border: 1px solid #e3914c;
  color: #00698c; */
	
}

#pagination-navi .selected { /* background-color: #e3914c;
  color: #FFF; */
	
}

.list-action a:hover { /* color:#06465D;
  text-decoration:none; */
	
}

.off-step { /* border */
	
}

/* =TREE CONTENT */
.tree-content { /* line-height:1.2em; */
	
}

.last-update-detail,.last-update-list {
	color: #00b050;
	text-transform: capitalize;
	font-size: 0.875em;
	font-weight: 400;
}

.back-link a {
	color: #909090 !important;
}
/*
.back-link a:visited {
	color: #909090 !important;
}
*/
.navigation input {
	border: none;
	background-color: transparent;
}

.navigation   .button {
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
}