.login-box {
	color: #595959;
	text-transform: capitalize;
	margin: -2px 2px 0 2px;
	padding: 0;
	border: 1px solid #DDDDDD;
	font-size: 0.815em;
	background-color: #fff;
}

.login-box a {
	font-weight: 400;
	font-size: 0.925em;
	color: #555555;
}

.login-box a:hover {
	outline: none;
	text-decoration: none;
}

.login-box .text {
	padding: 0 !important;
	background-color: #F0F0F0;
	border: 1px solid #A0A0A0;
}

.login-box .text:focus {
	background-color: #FFF;
	border: 1px solid #80C5FF;
}

.login-box .button {
	padding: 3px 5px;
}