## UP 22/03/24
## Riscrittura URL semplificata per pubblicazioni TED
## https://tomcat.apache.org/tomcat-9.0-doc/rewrite.html
## opzione 'noescape|NE' (no URI escaping of output). This flag prevents the rewrite valve from applying the usual URI escaping rules to the result of a rewrite. 
## Ordinarily, special characters (such as '%', '$', ';', and so on) will be escaped into their hexcode equivalents ('%25', '%24', and '%3B', respectively); 
## opzione 'redirect|R [=code]' (force redirect)
##
## Ad esempio, la URL 
##        http://localhost:8080/PortaleAppalti/it/bandi/codice/G00001
## viene riscritta come 
##        http://localhost:8080/PortaleAppalti/it/ppgare_detail.wp?actionPath=/ExtStr2/do/FrontEnd/Bandi/view.action&currentFrame=7&codice=G00001
##
RewriteRule ^/it/avvisi/codice/(.*)$ /it/ppgare_detail.wp?actionPath=/ExtStr2/do/FrontEnd/Avvisi/view.action&currentFrame=7&codice=$1 [R,NE]
RewriteRule ^/it/bandi/codice/(.*)$ /it/ppgare_detail.wp?actionPath=/ExtStr2/do/FrontEnd/Bandi/view.action&currentFrame=7&codice=$1 [R,NE]
RewriteRule ^/it/esiti/codice/(.*)$ /it/ppgare_detail.wp?actionPath=/ExtStr2/do/FrontEnd/Esiti/view.action&currentFrame=7&codice=$1 [R,NE]
RewriteRule ^/it/procedure/codice/(.*)$ /it/ppgare_detail.wp?actionPath=/ExtStr2/do/FrontEnd/Bandi/openProcedura.action&currentFrame=7&codice=$1 [R,NE]
RewriteRule ^/it/procedure/cig/(.*)$ /it/ppgare_detail.wp?actionPath=/ExtStr2/do/FrontEnd/Bandi/openProceduraCig.action&currentFrame=7&cig=$1 [R,NE]
